// Footer Styles
footer {
    padding: $padding 1.5*$padding;
    background-color: $brand-color;
    border-top: 1px dotted $body-bg-color;
    @include flex-layout-row;
    p {
        @include flatten;
        padding-bottom: $padding/2;
        color: $text-color-light;
    }

    #socialmedia-icons-footer{
        a{
            text-decoration: none;
        }
    }
    
    .footer-nav{
        ul{
            @include flex-layout-row;
            @media (max-width: $phoneLandscape){
                @include flex-layout-column;
                align-items: flex-start;
                li {
                    padding-top: 10px;
                }
            }
        }
    }
}