// Main Styles

main {
    padding: $padding;    

    section:not(:first-child) {
        margin-top: $padding;
    }


    .banner {
        position: relative;
        z-index: 800;
        padding-bottom: $padding;
      

        .banner-outline-title {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: $text-color-dark;
            font-size: 5vw;
            letter-spacing: .2em; 
        }
        
        h2 {
                position: absolute;
                top: 15%;
                left: 35%;
                transform: translate(-50%, -50%);
                color: $text-color-light;
                font-size: 4vw;
                letter-spacing: .1em; 
        }
        h3 {
            position: absolute;
            top: 35%;
            left: 50%;
            color:$text-color-medium;
            font-size: 5vw;
            letter-spacing: .1em; 
    }
        .customized-heading {
            color: $text-color-medium;
        }
    }

    
    .info-box {
        position: absolute;
        top: $padding/2;
        left: 80px;
        color:$text-color-dark;
        animation: slideInLeft 1s 0.5s 1 ease both;
            
        h1 {
            margin-bottom: 0.2em;
        }
    
        a {
            color: $text-color-dark;
        }
    
        @media screen and (max-width: $tabletLandscape){	
                top: $padding/3;
                font-size: 0.9em;                   
        }
    
        @media screen and (max-width: $tabletPortrait){
                top: $padding/4;	
                font-size: 0.7em;       
        }
    
        @media screen and (max-width: $phoneLandscape) {
                top: $padding/5;
                left: 20px;  
                font-size: 0.6em;
        }
        
        @media screen and (max-width: $phonePortrait) {
                top: 0px;
                left: 20px;  
                font-size: 0.5em;
        }
    
        @media screen and (max-width: $phoneSmall){
                top: 0;
                left: 10px;
        }
    }
        
    .banner-subtitle {
        font-weight: 400;
        font-size: 1.6vw;
        text-shadow: 1px 1px 1px rgb(53, 50, 50);
        @media screen and (max-width: $phoneLandscape){        
            display: none;  
        }
    }
    
    .banner-title {
        font-size: 4vw;
        font-weight: 400;
        color: $text-color-light;
    }
    
    /* Banner Image Animation Keyframes */
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        
        to {
            opacity: 1;
        }
    }
    
    /* Info Box Animation Keyframes */
    @keyframes slideInLeft {
      from {
        transform: translateX(-100%);
        opacity: 0;
        visibility: visible;
      }
    
      to {
        transform: translatX(0);
         opacity: 1;
      }
    }

/* Some default styles to make each box visible */
.box {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:$text-color-dark;
    text-align: left;
    // text-shadow:4px 4px 0 rgba(0,0,0,0.1);
    padding:$padding/2;
    border: .5px solid rgba(0, 0, 0, 0.431);
  }
   
   /* We start writing out grid(.container-index) here. */
  .container-index {
        display: grid;
        margin-top: 50px;
        /* Use the repeat function to repeat same sized columns */
        grid-template-columns: 3fr 4fr 2fr;
        grid-auto-rows: auto;
        grid-row-gap: 80px;
        grid-column-gap: 50px;

        /* Note: use " . "  as a placeholder if you want
           to leave one section of the grid blank */
        grid-template-areas:
            "one two three"
            "four four four"
            " five five five";

        @media screen and (max-width: $phoneLandscape) {
        grid-template-columns: 1fr;
        grid-template-areas:
			"one"
			"two"
			"three"
			"four"
			"five";
    }


    .box1 {
        grid-area: one;
        @include box-shadow;
        padding-top: 30px;  
        
    }

    .box2 {
        grid-area: two;
        @include box-shadow;
        padding-top: 30px; 
    }

    .box3 {
        grid-area: three;
        @include box-shadow;
        @include box-mixin-style;
        padding-top: 30px; 
       
    }

    .box4 {
        grid-area: four;
        background-color: $brand-color-medium;
        color: white;
        @include box-shadow;
        padding: $padding*2;
        p {
            font-size: 2em;
            
        }
       h2 {
        font-size: 2em;
        text-align: center;
       }
    }

    .box5 {
        grid-area: five;
        box-shadow: -1px 2px 1px 2px $brand-color-dark;
        margin-bottom: 40px;
        h2 {
            font-size: 2em;
            text-shadow: 2px 2px 4px rgb(184, 173, 173);
            text-align: center;
            padding: .9em;
        }
        li {
            padding: .1em;
        }
        
    }   
  }

     /* We start writing out grid(.container-outline) here. */
     .container-outline {
        margin-top: 50px;
        display: grid;
        /* Use the repeat function to repeat same sized columns */
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-auto-rows: auto;
        grid-row-gap: 40px;
        grid-column-gap: 80px;
        /* Note: use " . "  as a placeholder if you want
           to leave one section of the grid blank */
        grid-template-areas:
            "three two two two"
            "one one one one"
            "five five four four";
            

        @media screen and (max-width: $phoneLandscape) {
        .box4 {
            p {
                text-align: left;
            }
        }
        grid-template-columns: 1fr;
        grid-template-areas:
			"one"
			"two"
			"three"
			"four"
			"five";
    }

    
    .box1-outline {
        grid-area: one;
        @include box-mixin-style;
    }

    .box2-outline {
        grid-area: two;
        border-radius: 5px;
        @include box-shadow;
    }

    .box3-outline {
        grid-area: three;
        border-radius: 5px;
        @include box-shadow;
    }

    .box4-outline {
        max-width: 70%;
        grid-area: four;
        h2 {
            text-align: center;
        }
    }

    .box5-outline {
        grid-area: five;
        border-radius: 5px;
        padding: 20px;
        box-shadow:2px 2px 9px $brand-color-dark;
        
    }   
  }


   /* We start writing out grid(.container-schedule) here. */
   .container-schedule {
    display: grid;
    margin-top: 50px;
    /* Use the repeat function to repeat same sized columns */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: auto;
    grid-gap: 40px;
    /* Note: use " . "  as a placeholder if you want
       to leave one section of the grid blank */
    grid-template-areas:
        "one two three four"
        "twelve thirteen thirteen five"
        "eleven thirteen thirteen six"
        "ten nine eight seven";

    @media screen and (max-width: $phoneLandscape) {
    grid-template-columns: 1fr;
    grid-template-areas:
        "thirteen"
        "one"
        "two"
        "three"
        "four"
        "five"
        "six"
        "seven"
        "eight"
        "nine"
        "ten"
        "eleven"
        "twelve";
}

    h2{
        text-shadow:4px 4px 0 #341f941a;
    }

    .box1-schedule {
        grid-area: one;
        @include box-mixin-style;
    }

    .box2-schedule {
        grid-area: two;
        @include box-mixin-style;
    }

    .box3-schedule {
        grid-area: three;
        @include box-mixin-style;
    }

    .box4-schedule {
        grid-area: four;
        @include box-mixin-style;
    }

    .box5-schedule {
        grid-area: five;
        @include box-mixin-style;
    }   

    .box6-schedule {
        grid-area: six;
        @include box-mixin-style;
    }

    .box7-schedule {
        grid-area: seven;
        @include box-mixin-style;
    }

    .box8-schedule {
        grid-area: eight;
        @include box-mixin-style;
    }

    .box9-schedule {
        grid-area: nine;
        @include box-mixin-style;
    }

    .box10-schedule {
        grid-area: ten;
        @include box-mixin-style;
    } 
    .box11-schedule {
        grid-area: eleven;
        @include box-mixin-style;
    }  
    .box12-schedule {
        grid-area: twelve;
        @include box-mixin-style;
    }  
    .box13-schedule {
        grid-area: thirteen;
        display: flex;
        justify-content: center;    
        align-items: center;
        font-size: calc(2vw + 8px); 
        @include box-mixin-style;
    }    
}
    

/* We start writing out grid(.container-lesson) here. */
.container-Lessons {
    display: grid;
    /* Use the repeat function to repeat same sized columns */
    grid-template-columns: .6fr .6fr 1fr 1fr;
    grid-auto-rows: auto;
    grid-gap: 40px;
    /* Note: use " . "  as a placeholder if you want
       to leave one section of the grid blank */
    grid-template-areas:
        "one two thirteen thirteen"
        "three four thirteen thirteen"
        "five six thirteen thirteen"
        "seven eight thirteen thirteen"
        "nine ten thirteen thirteen"
        "eleven twelve thirteen thirteen";
        
    @media screen and (max-width: $phoneLandscape) {
        
    grid-template-columns: 1fr;
    grid-template-areas:
        "thirteen"
        "one"
        "two"
        "three"
        "four"
        "five"
        "six"
        "seven"
        "eight"
        "nine"
        "ten"
        "eleven"
        "twelve";
}

    h2{
        text-shadow:4px 4px 0 #341f941a;
    }

    .box1-Lesson  {
        grid-area: one;
        @include box-mixin-style;
    }

    .box2-Lesson  {
        grid-area: two;
        @include box-mixin-style;
    }

    .box3-Lesson  {
        grid-area: three;
        @include box-mixin-style;
    }

    .box4-Lesson  {
        grid-area: four;
        @include box-mixin-style;
    }

    .box5-Lesson  {
        grid-area: five;
        @include box-mixin-style;
    }   

    .box6-Lesson  {
        grid-area: six;
        @include box-mixin-style;
    }

    .box7-Lesson  {
        grid-area: seven;
        @include box-mixin-style;
        
    }

    .box8-Lesson  {
        grid-area: eight;
        @include box-mixin-style;
    }

    .box9-Lesson  {
        grid-area: nine;
        @include box-mixin-style;
        
    }

    .box10-Lesson  {
        grid-area: ten;
        @include box-mixin-style;
    } 
    .box11-Lesson  {
        grid-area: eleven;
        @include box-mixin-style;
        
    }  
    .box12-Lesson  {
        grid-area: twelve;
        @include box-mixin-style;

    }  
    .box13-Lesson  {
        grid-area: thirteen;
        display: flex;
        justify-content: center;    
        align-items: center;
        font-size: calc(2vw + 8px); 
        @include box-mixin-style;
    }    
}


/* We start writing out grid(.container-contact) here. */
.container-contact {
    display: grid;
    /* Use the repeat function to repeat same sized columns */
    grid-template-columns:1fr;
    grid-auto-rows: auto;
    grid-gap: 40px;
    /* Note: use " . "  as a placeholder if you want
       to leave one section of the grid blank */
    grid-template-areas:
        "one"
        "two";
      

    @media screen and (max-width: $phoneLandscape) {
    grid-template-columns: 1fr;
    grid-template-areas:
        "one"
        "two";
    }

    

    .box1-contact {
        grid-area: one;
        @include box-mixin-style;
    }

    .box2-contact {
        grid-area: two;
        @include box-mixin-style;
    }

    #submit {
      display: block;
      margin: 0 auto;
    }
    #form01 {
        display: grid;
        justify-content: center;
    }
   
// form style start

    fieldset {
        display: grid;
        margin-top:20px;
        display: block;
        margin-left: 2px;
        margin-right: 2px;
        padding-top: 0.35em;
        padding-bottom: 0.625em;
        padding-left: 0.75em;
        padding-right: 0.75em;
        border: dashed 1px black;
      }
    .span{
    
    color: white;
        border-radius: 50%;
        padding: 0px 10px 0px 10px;
        font-size: 1.2rem;
        
    }
    form, input, optgroup, select, legend{
        font-size: 1.3rem;
      }
      .form-align-top label{
      /*  font-size: 1.3rem;*/
        display: block;
        margin-bottom: 5px;
        margin-top: 5px;
      }
       
      input[type="checkbox"]{
        margin-top: 10;
      }
      
      input[type="text"]{
        width: 330px;
      }
      input[type="email"], select{
        width: 330px;
      }
      .spanLable{
        color: red;
          }

    textarea {
        width: 330px;
        height: 200px;
    }
    
    .radio {
        font-size: .5em;
    }
    .controls {
        margin: $padding;
    }
    
 
}

}

//lessons 
.lesson-content{
    h1 {
        margin-top: 0;
    }

    
    text-align: center;

    //Individual Lessons
    .lesson-section {
        padding-bottom: 1em;
        text-align: left;

        .tabbed {
            padding-left: 40px;
        }

        video {
            height: 100%;
            max-width: 100%;
          }

        .centered {
            display: block;
            max-width: 100%;
            @include margin-center;
        }
    }

    @media screen and(max-width: $tabletPortrait) {
        padding: $padding;
    }

    @media screen and(max-width: $phoneLandscape) {
        ul {
            padding-left: 1em;
        }
    }

}
